.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);

    .App-home-link {
      color: white;
      text-decoration: none;
    }

    .App-nav {
      display: flex;
      flex-direction: row;
      .App-link {
        padding: 5px 10px;
        color: #ffffff;
        font-size: calc(10px + 1vmin);
        text-decoration: none;
        text-transform: uppercase;
        &.active {
          text-decoration: underline
        }
      }
    }
  }
  
  hr {
    width: 90%;
    border: 1px solid rgba(200, 200, 200, 0.15);
  }
}
