body {
  hr {
    width: 90%;
    border: 1px solid rgba(200, 200, 200, 0.15);
  }
  a {
    color: #72e7fc;
    text-decoration: none;
    // margin: 10px;
  }
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: flex-end;
    
    .App-home-link {
      color: white;
      text-decoration: none;
      font-size: calc(10px + 2vmin);
      padding: 0px 25px;
    }

    .App-nav {
      display: flex;
      flex-direction: row;
      .App-link {
        padding: 5px 10px;
        text-decoration: none;
        text-transform: uppercase;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  
}
